# 0.0 Cargar dataframes

In [158]:
import pandas as pd

df = pd.read_csv('0_2_df_viajes_marzo.csv')

/Users/franciscopatino/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [159]:
# Estas funciones aseguran que las columnas de fechatiempo y timedelta sean de tal tipo de dato

df['tiempo_en_uso'] = pd.to_timedelta(df['tiempo_en_uso'])
df['Fecha_Arribo_datetime'] = pd.to_datetime(df['Fecha_Arribo_datetime'])
df['Fecha_Retiro_datetime'] = pd.to_datetime(df['Fecha_Retiro_datetime'])

In [160]:
df.head()

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_Estacion_Arribo,Fecha_Arribo,Hora_Arribo,distancia_viaje,Fecha_Retiro_datetime,Fecha_Arribo_datetime,tiempo_en_uso,velocidad
0,M,49,3307,365,01/03/2018,0:00:10,169,01/03/2018,0:13:05,2.729608,2018-03-01 00:00:10,2018-03-01 00:13:05,00:12:55,12.679471
1,F,29,9218,137,01/03/2018,0:00:13,308,01/03/2018,0:18:34,3.561729,2018-03-01 00:00:13,2018-03-01 00:18:34,00:18:21,11.645980
2,F,30,3945,54,01/03/2018,0:00:17,191,01/03/2018,0:12:13,2.019986,2018-03-01 00:00:17,2018-03-01 00:12:13,00:11:56,10.156356
3,M,25,9971,130,01/03/2018,0:00:47,271,01/03/2018,0:12:40,2.551229,2018-03-01 00:00:47,2018-03-01 00:12:40,00:11:53,12.881380
4,M,20,10551,415,01/03/2018,0:00:56,433,01/03/2018,0:05:18,1.037867,2018-03-01 00:00:56,2018-03-01 00:05:18,00:04:22,14.260767

# 1.0 Función estadisticas de Bici

In [161]:
# Notas: Esta se debe correr ya despues de que el DF de viajes tenga
## 1. Fecha_Retiro_datetime y Fecha_Arribo_datetime
## 2. distancia_recorrida
## 3. Agregar estaciones faltantes al DF_estaciones 
## 4. Remover filas con estaciones "apocrifas"

# Esta función encuentra a todas las ID de bicis, y arma un dataframe con
# estadisticas de vida y uso de cada bici

from tqdm import tqdm

def fn_bici_stats(dataframe):
    bici_unique = dataframe.Bici.unique()
    fin_lista = []
    ini_lista = []
    tiempo_usado = []
    dist_recorrida = []
    edad = []
    est_arribo = []
    est_retiro = []
    num_viajes = []
    
    for i in tqdm(range(len(bici_unique))):
        temp_dataframe = dataframe.loc[dataframe['Bici'] == bici_unique[i]]
#        temp_dataframe = temp_dataframe.reset_index(drop=True)

        inicio = min(temp_dataframe['Fecha_Retiro_datetime'])
        fin = max(temp_dataframe['Fecha_Arribo_datetime'])

   
        diferencia = fin - inicio
        
        # Si el CSV falla en mantener el formato de Timestamp, y fallan todos los otros métodos, usar esta función
        # diferencia = datetime.strptime(fin, '%Y-%m-%d %H:%M:%S') - datetime.strptime(inicio, '%Y-%m-%d %H:%M:%S')
        
        tiempo_en_uso = temp_dataframe.tiempo_en_uso.sum()
        
        distancia = temp_dataframe.distancia_viaje.sum()
        
        ini_lista.append(inicio)
        fin_lista.append(fin)
        tiempo_usado.append(tiempo_en_uso)
        edad.append(diferencia)
        dist_recorrida.append(distancia)
        est_arribo.append(temp_dataframe.Ciclo_Estacion_Arribo[temp_dataframe.index[-1]])
        est_retiro.append(temp_dataframe.Ciclo_Estacion_Retiro[temp_dataframe.index[0]])
        num_viajes.append(len(temp_dataframe))

        
    list_dict = {'Bici': bici_unique, 'est_retiro': est_retiro, 'est_arribo': est_arribo,
                 'fecha_inicio': ini_lista, 'fecha_fin': fin_lista, 'edad': edad, 
                 'tiempo_ciclando': tiempo_usado, 'distancia_recorrida': dist_recorrida,
                 'num_viajes': num_viajes}

    df_salida = pd.DataFrame(list_dict)
    
    return df_salida

In [163]:
# Prueba de función

from datetime import datetime
import pandas as pd

df_prueba_bici = {'Bici': [1,2,1,2,1],
                  'Ciclo_Estacion_Arribo': [3,4,5,6,7],
                  'Ciclo_Estacion_Retiro': [1,2,3,4,5],
                  'Fecha_Arribo_datetime': [datetime(2018, 3, 15, 9, 1, 30),datetime(2018, 3, 15, 10, 1, 30),
                                            datetime(2018, 3, 15, 10, 1, 30),datetime(2018, 3, 15, 11, 1, 30),
                                            datetime(2018, 3, 15, 12, 1, 30)],
                  'Fecha_Retiro_datetime': [datetime(2018, 3, 15, 8, 1, 30), datetime(2018, 3, 15, 9, 1, 30),
                                            datetime(2018, 3, 15, 9, 1, 30), datetime(2018, 3, 15, 10, 1, 30),
                                            datetime(2018, 3, 15, 11, 1, 30)],     
                  'tiempo_en_uso': [1,1,1,1,1],
                  'distancia_viaje': [1,2,1,2,2]
                 }
                
df_test_0_3 = pd.DataFrame(df_prueba_bici)

df_test_0_4 = fn_bici_stats(df_test_0_3)

df_test_0_4.head()

100%|██████████| 2/2 [00:00<00:00, 290.78it/s]

,Bici,est_retiro,est_arribo,fecha_inicio,fecha_fin,edad,tiempo_ciclando,distancia_recorrida,num_viajes
0,1,1,7,2018-03-15 08:01:30,2018-03-15 12:01:30,04:00:00,3,4,3
1,2,2,6,2018-03-15 09:01:30,2018-03-15 11:01:30,02:00:00,2,4,2

# 2.0  Correr - Estadisticas bicis

In [134]:
bike_stats = fn_bici_stats(df)

100%|██████████| 9085/9085 [08:50<00:00, 17.13it/s]

In [ ]:
bike_stats.to_csv('0_3_prueba_bike_stats.csv', index=False)

In [164]:
bike_stats

,Bici,est_retiro,est_arribo,fecha_inicio,fecha_fin,edad,tiempo_ciclando,distancia_recorrida,num_viajes
0,3307,365,25,2018-03-01 00:00:10,2018-03-06 09:07:55,5 days 09:07:45,06:04:04,52.780559,26
1,9218,137,273,2018-03-01 00:00:13,2018-03-05 07:46:09,4 days 07:45:56,03:59:21,31.467285,18
2,3945,54,141,2018-03-01 00:00:17,2018-03-06 08:40:50,5 days 08:40:33,07:21:31,52.154636,32
3,9971,130,326,2018-03-01 00:00:47,2018-03-06 09:05:22,5 days 09:04:35,10:08:37,76.285585,47
4,10551,415,305,2018-03-01 00:00:56,2018-03-06 07:58:24,5 days 07:57:28,04:08:04,34.430901,21
5,9986,39,37,2018-03-01 00:01:06,2018-03-06 09:05:51,5 days 09:04:45,08:44:47,64.921316,39
6,11030,390,294,2018-03-01 00:01:51,2018-03-06 08:15:00,5 days 08:13:09,06:02:13,63.312685,29
7,8733,64,183,2018-03-01 00:01:59,2018-03-05 21:43:31,4 days 21:41:32,06:43:17,53.275382,30
8,4190,147,304,2018-03-01 00:01:59,2018-03-06 09:08:54,5 days 09:06:55,07:30:07,64.309610,33
9,10339,151,201,2018-03-01 00:02:21,2018-03-06 08:57:37,5 days 08:55:16,07:17:48,53.831413,30
10,8136,151,392,2018-03-01 00:02:30,2018-03-06 09:06:58,5 days 09:04:28,08:37:25,65.772189,38
11,9315,34,291,2018-03-01 00:03:37,2018-03-06 09:20:13,5 days 09:16:36,07:27:10,53.498950,29
12,8910,426,141,2018-03-01 00:03:37,2018-03-06 08:56:53,5 days 08:53:16,06:51:22,48.511880,25
13,9593,24,123,2018-03-01 00:03:43,2018-03-06 09:14:31,5 days 09:10:48,08:58:39,78.220195,37
14,7862,258,43,2018-03-01 00:05:33,2018-03-06 08:19:02,5 days 08:13:29,05:28:01,36.881309,21
15,9321,54,248,2018-03-01 00:05:33,2018-03-06 09:10:13,5 days 09:04:40,07:03:53,56.809966,34
16,4263,134,184,2018-03-01 00:05:51,2018-03-06 08:31:06,5 days 08:25:15,08:14:30,67.912952,36
17,3867,123,15,2018-03-01 00:06:11,2018-03-06 09:05:24,5 days 08:59:13,06:49:00,51.633000,38
18,3122,62,476,2018-03-01 00:07:08,2018-03-06 08:56:51,5 days 08:49:43,07:41:27,66.550976,25
19,8528,125,25,2018-03-01 00:07:38,2018-03-06 09:03:25,5 days 08:55:47,07:04:10,64.403770,33
20,8575,86,452,2018-03-01 00:07:42,2018-03-06 08:53:13,5 days 08:45:31,08:58:21,61.129248,34
21,11034,34,440,2018-03-01 00:07:48,2018-03-06 07:56:05,5 days 07:48:17,04:40:35,34.155488,21
22,8282,433,226,2018-03-01 00:07:57,2018-03-06 08:40:10,5 days 08:32:13,07:53:38,56.697679,28
23,10843,237,205,2018-03-01 00:08:16,2018-03-06 09:02:14,5 days 08:53:58,08:40:10,75.842092,40
24,15327,175,459,2018-03-01 00:08:31,2018-03-06 07:49:48,5 days 07:41:17,11:35:12,92.178624,33
25,3922,24,217,2018-03-01 00:08:59,2018-03-06 09:02:17,5 days 08:53:18,07:22:59,60.258266,34
26,1554,256,313,2018-03-01 00:09:39,2018-03-06 09:01:44,5 days 08:52:05,11:14:33,52.045108,34
27,8019,249,281,2018-03-01 00:10:11,2018-03-06 09:20:03,5 days 09:09:52,11:05:21,81.450344,41
28,9657,68,432,2018-03-01 00:10:28,2018-03-06 07:13:19,5 days 07:02:51,04:53:38,38.875773,33
29,10368,68,55,2018-03-01 00:10:48,2018-03-06 08:54:26,5 days 08:43:38,08:11:58,58.087265,38
...,...,...,...,...,...,...,...,...,...
9055,3934,25,351,2018-03-27 18:35:51,2018-03-31 19:08:47,4 days 00:32:56,01:49:33,13.012922,9
9056,8983,416,466,2018-03-27 18:54:00,2018-03-29 20:17:20,2 days 01:23:20,02:01:32,18.506827,11
9057,15319,257,222,2018-03-27 20:04:06,2018-03-31 18:28:52,3 days 22:24:46,07:35:21,45.529078,22
9058,15032,257,257,2018-03-27 20:11:15,2018-03-31 15:44:37,3 days 19:33:22,04:46:14,32.357234,16
9059,15217,257,449,2018-03-27 21:53:05,2018-03-31 19:07:18,3 days 21:14:13,06:45:50,44.529430,17
9060,3234,421,355,2018-03-27 22:30:28,2018-03-31 13:57:26,3 days 15:26:58,00:20:22,2.670725,4
9061,15208,445,296,2018-03-28 07:38:36,2018-03-31 23:03:39,3 days 15:25:03,07:38:38,44.234123,17
9062,8093,421,28,2018-03-28 08:13:29,2018-03-31 15:47:38,3 days 07:34:09,04:26:23,31.180258,19
9063,9886,364,356,2018-03-28 09:03:56,2018-03-31 22:51:12,3 days 13:47:16,01:36:26,14.805824,8
9064,8770,23,31,2018-03-28 12:26:07,2018-03-31 21:26:59,3 days 09:00:52,06:23:29,23.884055,14
9065,15128,454,434,2018-03-28 12:58:17,2018-03-31 15:32:30,3 days 02:34:13,04:57:50,41.012393,13
9066,3506,24,70,2018-03-28 13:55:03,2018-03-31 22:03:22,3 days 08:08:19,02:18:48,18.261073,14
9067,15222,454,454,2018-03-28 14:22:51,2018-03-30 13:05:12,1 days 22:42:21,03:52:15,30.025734,8
9068,7385,24,38,2018-03-28 14:37:17,2018-03-31 22:01:22,3 days 07:24:05,03:47:20,24.245919,16
9069,4085,200,250,2018-03-28 18:05:10,2018-03-31 17:31:55,2 days 23:26:45,03:06:17,26.186017,13
9070,7942,200,361,2018-03-28 18:31:47,2018-03-31 11:04:18,2 days 16:32:31,01:32:06,12.920381,6
9071,1694,200,266,2018-03-28 18:33:05,2018-03-31 17:47:00,2 days 23:13:55,02:46:16,22.424454,11
9072,15227,139,391,2018-03-28 20:01:58,2018-03-31 22:00:50,3 days 01:58:52,02:27:25,20.562419,8
9073,15309,33,257,2018-03-28 20:39:57,2018-03-31 22:45:03,3 days 02:05:06,02:35:39,17.976399,8
9074,9699,208,240,2018-03-29 09:22:44,2018-03-31 16:59:54,2 days 07:37:10,00:55:49,5.831860,5
9075,15150,464,391,2018-03-29 11:06:10,2018-03-29 18:32:01,0 days 07:25:51,01:09:28,10.876511,4
9076,15253,108,139,2018-03-29 12:12:58,2018-03-31 22:54:52,2 days 10:41:54,05:01:20,33.870378,16
9077,15093,222,260,2018-03-29 13:27:50,2018-03-31 19:28:43,2 days 06:00:53,05:53:27,22.200406,10
9078,15092,108,175,2018-03-29 13:38:45,2018-03-31 22:09:27,2 days 08:30:42,04:02:39,22.146726,9
9079,15120,241,296,2018-03-29 15:32:17,2018-03-29 21:50:53,0 days 06:18:36,01:33:49,11.629843,3
9080,15053,222,190,2018-03-29 16:11:35,2018-03-31 18:26:18,2 days 02:14:43,02:07:22,13.366386,7
9081,15337,241,33,2018-03-29 16:42:29,2018-03-30 19:51:23,1 days 03:08:54,01:40:47,12.713513,5
9082,9026,154,132,2018-03-31 10:19:32,2018-03-31 15:26:49,0 days 05:07:17,00:38:32,4.947375,4
9083,9384,154,117,2018-03-31 11:13:16,2018-03-31 15:22:40,0 days 04:09:24,00:24:27,3.767559,3
9084,8349,152,185,2018-03-31 16:04:00,2018-03-31 20:28:00,0 days 04:24:00,00:41:24,4.764388,2